<div class="container">
    <div class="row">
        <div class="col">
            <div class="card filters">

                <div class="card-header">
                    <strong>Filters</strong>
                </div>

                <div class="card-body">
                    <div *ngIf="!isMobileLayout">

                        <div class="priceFilter">
                            <h5>Filter by Price:</h5>
                            <div class="from-group">
                                <label for="from">From</label>
                                <input [(ngModel)]="from" type="number" id="from" class="form-control shadow-none" min="0" >
                            </div>
                            <div class="from-group">
                                <label for="to">To</label>
                                <input [(ngModel)]="to" type="number" id="to" class="form-control shadow-none" min="0" >
                            </div>
                        </div>
                        
                        <div class="filter-color">
                            <h5>Filter by color:</h5>
                            <p class="color-filter-button" (click)="filterByColor('')"><span style="color: black">Show all</span> colors <i class="fas fa-palette"></i></p>
                            <p class="color-filter-button" (click)="filterByColor('Red')"><span style="color: red">Red</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Blue')"><span style="color: Blue">Blue</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Yellow')"><span class="text-shadow-around"  style="color: Yellow">Yellow</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Black')"><span style="color: Black">Black</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('White')"><span class="text-shadow-around" style="color: White">White</span> Color</p>
                        </div>  

                        <div class="filter-options">
                            <h5>Filter by product category:</h5>
                            <p class="color-filter-button" (click)="filterByCategory('')">Show all categories <i class="fas fa-globe"></i></p>
                            <p class="color-filter-button" (click)="filterByCategory('Skateboards')">Skateboards </p>
                            <p class="color-filter-button" (click)="filterByCategory('Decks')">Decks </p>
                            <p class="color-filter-button" (click)="filterByCategory('Trucks')">Trucks </p>
                            <p class="color-filter-button" (click)="filterByCategory('Wheels')">Wheels </p>
                            <p class="color-filter-button" (click)="filterByCategory('Bearings')">Bearings </p>
                        </div>     

                        <div class="filter-color">
                            <label style="margin-right: 5px;">Sort by:</label>
                            <select [(ngModel)] = 'SortbyParam'>
                                <option value="id">Don't sort</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="color">Color</option>
                            </select>
                            <button class="sort" (click)="onSortDirection()">
                                <i *ngIf="SortDirection==='asc'" class="fas fa-chevron-up"></i>
                                <i *ngIf="SortDirection==='desc'" class="fas fa-chevron-down"></i>
                            </button>
                        </div>    

                        <button (click)="clearFilters()" class="form-control shadow-none filter">Clear all Filters</button>
                    </div>
            
                            <!-- -- MOBILE LAYOUT -- -->
            
                    <div ngbDropdown *ngIf="isMobileLayout">
                        <button class="btn btn-outline-primary btn-100 filter shadow-none" ngbDropdownToggle>Open Filters</button>
                        <div class="dropdown-menu text-center" ngbDropdownMenu>
                            <div>

                                <div class="priceFilter">
                                    <h5>Filter by Price</h5>
                                    <div class="from-group">
                                        <label for="from">From</label>
                                        <input [(ngModel)]="from" type="number" id="from" class="form-control shadow-none" min="0" >
                                    </div>
                                    <div class="from-group">
                                        <label for="to">To</label>
                                        <input [(ngModel)]="to" type="number" id="to" class="form-control shadow-none" min="0" >
                                    </div>
                                </div>

                                <div class="filter-color">
                                    <h5>Filter by color:</h5>
                                    <select class="sortMobile" [(ngModel)] = 'color'>
                                        <option value="" class="color-filter-button background">Show all colors <i class="fas fa-palette"></i></option>
                                        <option value="Red" class="color-filter-button background">Red Color</option>
                                        <option value="Blue" class="color-filter-button background">Blue Color</option>
                                        <option value="Yellow" class="color-filter-button background">Yellow Color</option>
                                        <option value="Black" class="color-filter-button background">Black Color</option>
                                        <option value="White" class="color-filter-button background">White Color</option>
                                    </select>
                                </div>  
        
                                <div class="filter-options">
                                    <h5>Filter by category:</h5>

                                    <select class="sortMobile" [(ngModel)] = 'category'>
                                        <option value="" class="color-filter-button background">Show all categories</option>
                                        <option value="Skateboards" class="color-filter-button background">Skateboards</option>
                                        <option value="Decks" class="color-filter-button background">Decks</option>
                                        <option value="Trucks" class="color-filter-button background">Trucks</option>
                                        <option value="Wheels" class="color-filter-button background">Wheels</option>
                                        <option value="Bearings" class="color-filter-button background">Bearings</option>
                                    </select>
                                </div>     

                                <div class="filter-options">
                                    <h6 style="margin-right: 5px;">Sort by:</h6>
                                    <select class="sortMobile" [(ngModel)] = 'SortbyParam'>
                                        <option value="name">Name</option>
                                        <option value="price">Price</option>
                                        <option value="color">Color</option>
                                    </select>
                                    <button class="sort sortBtnMobile" (click)="onSortDirection()">
                                        <i *ngIf="SortDirection==='asc'" class="fas fa-chevron-up"></i>
                                        <i *ngIf="SortDirection==='desc'" class="fas fa-chevron-down"></i>
                                    </button>
                                </div>     

                                <button (click)="clearFilters()" class="form-control shadow-none filter">Clear all Filters</button>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>    
    
        <div class="col-md-8">
            <app-products [SortDirection]="SortDirection" [SortbyParam]="SortbyParam" [color]="color" [category]="category" [from]="from" [to]="to"></app-products>
        </div>    
    
        <div class="col">
            <app-cart></app-cart>
        </div>    
    </div>
    
</div>

<simple-notifications></simple-notifications>
