.container {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .col > app-cart {
    display: none;
  }
}

.filters {
  font-size: small;
  background-color: #ffd050;
  margin-bottom: 15px;
}
.filter {
  color: white;
  margin-top: 10px;
  background-color: #be8f0e;
  border: 1px solid #333;
  &:hover {
    color: black;
    border: 1px solid black;
    background-color: #edb928;
  }
  &:focus {
    color: white;
    border: 2px solid red;
    background-color: #be8f0e;
  }
  &:active {
    box-shadow: none;
  }
}
input.shadow-none {
  &:focus {
    border: 2px solid green;
  }
}
.btn-100 {
  width: 100%;
}
.dropdown-menu {
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  background-color: #ffe59e;
  border: 2px solid #be8f0e;
}
.filter-options {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 14px;
  border-top: 1px solid orange;
  &:first-child {
    border-top: none;
    margin-top: 0px;
  }
}
.color-filter-button {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.7rem;
  &:hover {
    text-decoration: underline;
  }
}
.background {
  padding: 5px 0 5px 0;
  background-color: #edb82860;
  border-radius: 20px;
}
.text-shadow-around {
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}
.sort {
  width: 25px;
  color: white;
  margin-top: 5px;
  background-color: #be8f0e;
  border: 1px solid #333;
  &:hover {
    color: black;
    border: 1px solid black;
    background-color: #edb928;
  }
  &:focus {
    color: white;
    border: 2px solid red;
    background-color: #be8f0e;
  }
}
.priceFilter {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid orange;
}
.sortMobile {
  width: 150px;
  height: 30px;
}
.sortBtnMobile {
  width: 30px;
  height: 30px;
}
.fa-check {
  color: rgb(0, 100, 0);
}
