<div class="container">
    <div class="row">
        <div class="col">
            <div class="card filters">

                <div class="card-header">
                    <strong>Filters</strong>
                </div>
            
                <div class="card-body">
                    <div *ngIf="!isMobileLayout">
                        
                        <div class="filter-color">
                            <h5>Filter by color:</h5>
                            <p class="color-filter-button" (click)="filterByColor('')"><span style="color: black">Show every</span> Color <i class="fas fa-palette"></i></p>
                            <p class="color-filter-button" (click)="filterByColor('Red')"><span style="color: red">Red</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Blue')"><span style="color: Blue">Blue</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Yellow')"><span class="text-shadow-around"  style="color: Yellow">Yellow</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('Black')"><span style="color: Black">Black</span> Color</p>
                            <p class="color-filter-button" (click)="filterByColor('White')"><span class="text-shadow-around" style="color: White">White</span> Color</p>
                        </div>  

                        <div class="filter-options">
                            <h5>Filter by product category:</h5>
                            <p class="color-filter-button" (click)="filterByCategory('')">Show all categories <i class="fas fa-globe"></i></p>
                            <p class="color-filter-button" (click)="filterByCategory('Skateboards')">Skateboards </p>
                            <p class="color-filter-button" (click)="filterByCategory('Decks')">Decks </p>
                            <p class="color-filter-button" (click)="filterByCategory('Trucks')">Trucks </p>
                            <p class="color-filter-button" (click)="filterByCategory('Wheels')">Wheels </p>
                            <p class="color-filter-button" (click)="filterByCategory('Bearings')">Bearings </p>
                        </div>     

                        <div class="filter-color">
                            <label style="margin-right: 5px;">Sort by:</label>
                            <select [(ngModel)] = 'SortbyParam'>
                                <option value="id">Don't sort</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="color">Color</option>
                            </select>
                            <button class="sort" (click)="onSortDirection()">
                                <i *ngIf="SortDirection==='asc'" class="fas fa-chevron-up"></i>
                                <i *ngIf="SortDirection==='desc'" class="fas fa-chevron-down"></i>
                            </button>
                        </div>    
                    </div>
            
            
                            <!-- -- MOBILE LAYOUT -- -->
            
                    <div ngbDropdown *ngIf="isMobileLayout">
                        <button class="btn btn-outline-primary btn-100 filter shadow-none" ngbDropdownToggle>Open Filters</button>
                        <div class="dropdown-menu text-center" ngbDropdownMenu>
                            <div>
                                <div class="filter-color">
                                    <h5>Filter by color:</h5>
                                    <p class="color-filter-button background" (click)="filterByColor('')"><span style="color: black">Show every</span> Color <i class="fas fa-palette"></i></p>
                                    <p class="color-filter-button background" (click)="filterByColor('Red')"><span style="color: red">Red</span> Color</p>
                                    <p class="color-filter-button background" (click)="filterByColor('Blue')"><span style="color: Blue">Blue</span> Color</p>
                                    <p class="color-filter-button background" (click)="filterByColor('Yellow')"><span class="text-shadow-around"  style="color: Yellow">Yellow</span> Color</p>
                                    <p class="color-filter-button background" (click)="filterByColor('Black')"><span style="color: Black">Black</span> Color</p>
                                    <p class="color-filter-button background" (click)="filterByColor('White')"><span class="text-shadow-around" style="color: White">White</span> Color</p>
                                </div>  
        
                                <div class="filter-options">
                                    <h5>Filter by product category:</h5>
                                    <p class="color-filter-button background" (click)="filterByCategory('')">Show all categories <i class="fas fa-globe"></i></p>
                                    <p class="color-filter-button background" (click)="filterByCategory('Skateboards')">Skateboards </p>
                                    <p class="color-filter-button background" (click)="filterByCategory('Decks')">Decks </p>
                                    <p class="color-filter-button background" (click)="filterByCategory('Trucks')">Trucks </p>
                                    <p class="color-filter-button background" (click)="filterByCategory('Wheels')">Wheels </p>
                                    <p class="color-filter-button background" (click)="filterByCategory('Bearings')">Bearings </p>
                                </div>     

                                <div class="filter-options">
                                    <label style="margin-right: 5px;">Sort by:</label>
                                    <select [(ngModel)] = 'SortbyParam'>
                                        <option value="name">Name</option>
                                        <option value="price">Price</option>
                                        <option value="color">Color</option>
                                    </select>
                                    <button class="sort" (click)="onSortDirection()">
                                        <i *ngIf="SortDirection==='asc'" class="fas fa-chevron-up"></i>
                                        <i *ngIf="SortDirection==='desc'" class="fas fa-chevron-down"></i>
                                    </button>
                                </div>     

                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>    
    
        <div class="col-md-8">
            <app-products [SortDirection]="SortDirection" [SortbyParam]="SortbyParam" [color]="color" [category]="category"></app-products>
        </div>    
    
        <div class="col">
            <app-cart></app-cart>
        </div>    
    </div>
    
</div>

<simple-notifications></simple-notifications>
