<div class="overlay">
    <div class="px-4 py-5 my-5 text-center background">
        <h1 class="display-5 fw-bold">About Us</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, deleniti.</p>
        </div>
    </div>
</div>  


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Who We Are</h2>
            <p class="text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>

        <div class="col-md-5">
            <h2>What We Do</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo a corporis fuga, explicabo quia. Autem veritatis, architecto cumque nostrum possimus voluptates commodi illo similique velit aut ipsum modi quos.</p>
        </div>

        <div class="col-md-2">
            <div>
                <h2>Our Team</h2>
                <div class="">
                    <ul class="list-unstyled">
                        <li>
                            <img src="//cdn.shopify.com/s/files/1/1387/9635/t/3/assets/img_about_1.png?v=4187756143081666853" alt=""><p class="name_abouts">
                            <strong>John Doe</strong>
                            <span> CEO, Founder</span></p>
                        </li>

                        <li>
                            <img src="//cdn.shopify.com/s/files/1/1387/9635/t/3/assets/img_about_2.png?v=8328170367494087518" alt=""><p class="name_abouts">
                            <strong>William Doe</strong>
                            <span> Sale Director</span></p>
                        </li>

                        <li>
                            <img src="//cdn.shopify.com/s/files/1/1387/9635/t/3/assets/img_about_3.png?v=9198361318978996691" alt=""><p class="name_abouts">
                            <strong>Emma Doe</strong>
                            <span> Sale Director</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    

