<header class="header bg-primary ">
    <a class="navbar-brand brand-text logo" routerLink="/">SKATESHOP-BAKU</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/aboutus">About us</a></li>
      <li><a routerLink="/contactus">Contact Us</a></li>
      <li><a routerLink="/shop" class="dsbld">Shop -></a></li>
    </ul>
</header>