<header class="header bg-primary ">
    <a class="navbar-brand brand-text logo" routerLink="/">SKATESHOP-BAKU</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/aboutus" routerLinkActive="active-link">About us</a></li>
      <li><a routerLink="/contactus" routerLinkActive="active-link">Contact Us</a></li>
      <li><a routerLink="/shop" routerLinkActive="active-link">Shop &#8250;</a></li>
    </ul>
</header>