@import "../../styles.scss";
.logo:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.bg-primary {
  background-color: $orangebase;
}

.brand-text {
  margin-left: 1rem;
  padding: 0.2rem;
  font: 1.6rem Oswald;
  border: 2px solid rgb(30, 49, 49);
  color: rgb(30, 49, 49) !important;
}

.header {
  background-color: $orangebase;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid $orangedark;
  position: sticky;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $orangebase;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: rgb(30, 49, 49) !important;
  font-weight: 500;
  border-radius: 20%;
  transition: 0.3s;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(255, 166, 0, 0.199);
}
.active-link {
  background-color: rgba(255, 166, 0, 0.199);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 13px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  display: inline-block;
  padding: 42px 15px;
  position: relative;
  user-select: none;
  margin-right: 26px;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  transform: scale(1.9);
  text-align: right;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
}

@media (min-width: 992px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header {
    top: 0;
    height: 100px;
  }
}
