<div class="card mb-4 box-shadow">
    <img class="card-img-top" [src]="productItem.imageUrl" alt="Product Image">
    <div class="card-body">
        <h5>{{ productItem.name }}</h5>
        <p class="card-text">{{ productItem.description }}</p>
        <p class="card-text" style="color: #555; margin-bottom: 0!important;"><small>{{productItem.category}} , {{productItem.color}}</small></p>
        <p class="card-text"><strong>{{  productItem.price == 0 ?  'Out of Stock' : (productItem.price | currency:'USD') }}</strong></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button *ngIf='productItem.price!="Out of Stock"'
                type="button"
                class="btn btn-sm btn-outline-primary product-btn shadow-none"
                (click)='handleAddToCart()'
                >Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary product-btn shadow-none">View Details</button>
            </div>
        </div>
    </div>
</div>