@import "../../../../styles.scss";

.mb-4 {
  background-color: $orangelight;
}
.btn-outline-primary {
  color: black;
  background-color: $orangedark;
  border: 1px solid black;
  &:hover {
    color: black;
    border: 1px solid black;
    background-color: $orangeverydark;
  }
  &:focus {
    color: white;
    border: 2px solid limegreen;
    background-color: green !important;
  }
}

.btn-outline-secondary {
  color: black;
  border: 1px solid black;
  &:hover {
    color: black;
    border: 1px solid black;
    background-color: $orangebase;
  }
  &:focus {
    border: 2px solid limegreen;
  }
}

.img-wrapper {
  overflow: hidden;
}
.card-img-top {
  transition: 0.3s;
  &:hover {
    cursor: zoom-in;
    transform: scale(1.6);
  }
}

///////////////// DETAILS ////////////////////////

.details {
  width: 100%;
  background-color: $orangelight;
}
.details > h4 {
  margin-top: 10px;
  margin-bottom: 0;
}
.details > .img-wrapper > .card-img-top {
  &:hover {
    cursor: auto;
    transform: none;
  }
}
.details > .img-wrapper {
  cursor: zoom-in;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid $orangedark;
}
.details > .desc {
  padding: 15px;
  padding-top: 5px;
}
.price {
  float: right;
  margin-right: 10px;
  font-size: 24px;
}
.btn-d {
  transform: scale(1.1);
  margin-left: 10px;
}
::ng-deep .ngxImageZoomContainer > img {
  width: 100% !important;
}
.price-pc {
  width: 100%;
}
.wishlist-b {
  color: red;
  float: right;
  font-size: 18px;
  cursor: pointer;
}
