<div class="card mb-4 box-shadow">
    <img class="card-img-top" [src]="productItem.imageUrl" alt="Product Image">
    <div class="card-body">
        <h5>{{ productItem.name }}</h5>
        <p class="card-text">{{ productItem.description }}</p>
        <p class="card-text"><strong>{{  isNumber(productItem.price) ? (productItem.price | currency:'USD') : productItem.price }}</strong></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button *ngIf='productItem.price!="Out of Stock"'
                type="button"
                class="btn btn-sm btn-outline-primary product-btn shadow-none"
                (click)='handleAddToCart()'
                >Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary product-btn shadow-none">View Details</button>
            </div>
        </div>
    </div>
</div>