<div class="card mb-4 box-shadow">

    <div (click)="open(details)" class="img-wrapper"><img [src]="productItem.imageUrl" alt="product" class="card-img-top"></div>

    <div class="card-body">
        <h5>{{ productItem.name }}</h5>
        <p class="card-text">{{ productItem.description | slice:0:80}}..</p>
        <p class="card-text" style="color: #555; margin-bottom: 0!important;"><small>{{productItem.category}} , {{productItem.color}}</small></p>
        <p class="card-text"><strong>{{  productItem.price == 0 ?  'Out of Stock' : (productItem.price | currency:'USD') }}</strong></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button *ngIf='productItem.price!="Out of Stock"'
                type="button"
                class="btn btn-sm btn-outline-primary product-btn shadow-none"
                (click)='handleAddToCart()'
                (click)="onSuccess('Item added to Cart Succesfully')"
                >Add to cart <i class="far fa-plus-square"></i></button>
                <button
                (click)="open(details)"
                type="button"
                class="btn btn-sm btn-outline-secondary product-btn shadow-none"
                >View Details <i class="fas fa-info-circle"></i></button>
            </div>
        </div>
    </div>
</div>


<!-- DETAILS -->

<ng-template #details let-modal>
    <div class="details">
        <div class="img-wrapper">
            <lib-ngx-image-zoom
                [thumbImage]=productItem.imageUrl
                [fullImage]=productItem.imageUrl
                [magnification]="1"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="170"
                [lensHeight]="170"
            ></lib-ngx-image-zoom>
        </div>
        <h4 class="text-center">{{ productItem.name }}</h4>
        <p class="text-center" style="color: #555; margin-bottom: 0!important;"><small>{{productItem.category}} , {{productItem.color}}</small></p>
        <h5 class="text-center">Product Description :</h5>
        <p class="desc text-center">{{ productItem.description }}</p>
        <p class="price text-center"><strong>{{  productItem.price == 0 ?  'Out of Stock' : (productItem.price | currency:'USD') }}</strong></p>
        <div class="btn btn-d text-center">
            <div class="btn-group">
                <button *ngIf='productItem.price!="Out of Stock"'
                type="button"
                class="btn btn-sm btn-outline-primary product-btn shadow-none"
                (click)='handleAddToCart()'
                (click)="onSuccess('Item added to Cart Succesfully')"
                >Add to cart <i class="far fa-plus-square"></i></button>
                <button
                    (click)="modal.close()"
                    type="button"
                    class="btn btn-sm btn-outline-secondary product-btn shadow-none"
                    >Close Details <i class="far fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>