@import "../../../styles.scss";
footer {
  width: 100%;
  border-top: 2px solid $orangebase;
}
.bg-primary {
  background-color: $orangedark;
}
.text-dark {
  color: $orangelight;
}
.btn-outline-dark {
  color: $orangeverydark;
  border: 2px solid $orangeverydark;
  border-radius: 40%;
}
