<footer class="bg-primary text-center text-dark">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com" target='_blank' role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com" target='_blank' role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.google.com" target='_blank' role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com" target='_blank' role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.discord.com" target='_blank' role="button"
          ><i class="fab fa-discord"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" target="_blank" href="https://github.com/interestingALI/SkateShop-Baku">skateshop-baku.az</a>
    </div>
</footer>
