@import "../../../styles.scss";
.logo:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.bg-primary {
  background-color: $orangebase;
}

.brand-text {
  margin-left: 1rem;
  padding: 0.2rem;
  font: 1.6rem Oswald;
  border: 2px solid rgb(30, 49, 49);
  color: rgb(30, 49, 49) !important;
}

.header {
  background-color: $orangebase;
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid $orangedark;
  position: sticky;
  transition: 0.3s;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $orangebase;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: rgb(30, 49, 49) !important;
  font-weight: 500;
  border-radius: 20%;
  transition: 0.3s;
  cursor: pointer;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(255, 166, 0, 0.199);
}
.active-link {
  background-color: rgba(255, 166, 0, 0.199);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 13px;
}

.menu > li {
  transition: 0.2s;
}
.menu > li:hover {
  padding-top: 3px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  display: inline-block;
  padding: 42px 15px;
  position: relative;
  user-select: none;
  margin-right: 26px;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  transform: scale(1.9);
  text-align: right;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 260px;
}
.header .menu-btn:checked ~ .menu {
  overflow: visible;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
}
////////////////////

.shopNacc {
  font-size: large;
}
.dropdown-menu {
  background-color: $orangebase;
}
////////////////// login modal ////////////////
.close {
  width: 30px;
  height: 30px;
  border: 2px solid orange;
  border-radius: 50%;
  transition: 0.4s;
  &:hover {
    border: 2px solid red;
  }
  &:focus {
    border: 2px solid orange !important;
  }
}

.btn-outline-dark {
  background-color: $orangedark;
  &:hover {
    background-color: green !important;
  }
}
.loginmodal {
  background-color: $orangelight;
}
.modal-header {
  border-bottom: 1px solid $orangedark;
}
.modal-footer {
  border-top: 1px solid $orangedark;
}
input.ng-invalid {
  border-right: 7px solid red;
}
input.ng-valid {
  border-right: 7px solid green;
}
.dropdown-item {
  word-wrap: break-word;
  white-space: pre-line;
}
.dropdown-menu {
  right: 0 !important;
}
////////////////////////////////////////////////
@media (min-width: 992px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
    overflow: visible;
  }
  .header .menu-icon {
    display: none;
  }
  .header {
    top: 0;
    height: 100px;
  }
  .dropdown-menu {
    width: 200px;
  }
}

@media (max-width: 352px) {
  .header .menu-icon {
    margin-right: 1px;
  }
  .navbar-brand,
  .brand-text,
  .logo {
    margin: 5px !important;
  }
}

@media (max-width: 280px) {
  .header .menu-icon {
    margin-right: 12px;
  }
  .navbar-brand,
  .brand-text,
  .logo {
    margin: 10px 10px 0 10px !important;
  }
}
