<header class="header bg-primary" id="header">
    <a class="navbar-brand brand-text logo" routerLink="/">SKATESHOP-BAKU</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/aboutus" routerLinkActive="active-link">About us</a></li>
      <li><a routerLink="/contactus" routerLinkActive="active-link">Contact Us</a></li>
      <li><a routerLink="/shop" routerLinkActive="active-link">Shop <i class="fas fa-shopping-basket"></i></a></li>
    </ul>


    <ul class="menu acc">
      <li ngbDropdown class="nav-item dropdown show">
        <a class="nav-link" ngbDropdownToggle><i class="fas fa-user-circle"></i></a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a *ngIf='!isSignedIn'  ngbDropdownItem class="dropdown-item" (click)="open(login)">Log in</a>
          <a disabled *ngIf='isSignedIn' ngbDropdownItem class="dropdown-item">{{'Signed in as ' + account}}</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" style="color: red!important;" (click)='logout()'>Log out</a>
        </div>
      </li>
    </ul>  
</header>
<!--                       LOGIN                                                                 -->
<ng-template #login let-modal>
  <div class="modal-header loginmodal">
    <h4 class="modal-title" id="modal-basic-title">Log In</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body loginmodal">
    <form [formGroup]=loginForm method="">
      
      <input type="email" #emailSignin pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" class="form-control mb-4" placeholder="E-mail">

      <input type="password" #passwordSignin formControlName="password" class="form-control mb-4" placeholder="Password">

      <div class="modal-footer loginmodal">
        <button type="button" class="btn btn-outline-dark" (click)="open(signup)">Sign Up?</button>
        <button [disabled]="loginForm.invalid" type="button" class="btn btn-outline-dark" (click)="onSignin(emailSignin.value, passwordSignin.value)">Log In</button>
      </div>
    </form>
  </div>
  
</ng-template>

<!--                   SIGNUP                                                                     -->

<ng-template #signup let-modal>
  <div class="modal-header loginmodal">
    <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body loginmodal">
    <form [formGroup]=signupForm>

      <input type="email" #emailSignup  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="emailsU" class="form-control mb-4" placeholder="E-mail *">

      <input type="password" #passwordSignup formControlName="passwordsU" class="form-control mb-4" placeholder="Password *">

      <div class="modal-footer loginmodal">
        <button [disabled]="signupForm.invalid" (click)="modal.close()" (click)="onSignup(emailSignup.value, passwordSignup.value)" type="button" class="btn btn-outline-dark" >Sign Up</button>
      </div>
    </form>
  </div>
  
</ng-template>