@import "../../../styles.scss";

.list-group-item {
  background-color: $orangebase;
}
.active {
  background-color: #4850b1 !important;
}
.active-light {
  background-color: #4851b1b4 !important;
}
.alert-info {
  border: 1px solid $orangebase;
}
.delete {
  margin-left: 5px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.checkout-button {
  width: 100%;
  padding: 5px;
  border-radius: 10%;
  border: 0;
  background-color: #4850b1;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    background-color: #1925ad;
  }
  &:active {
    border: 1px solid black;
  }
}

////////////////////

.checkout {
  width: 100%;
  height: 70vh;
  background-color: $orangelight;
}
