<div *ngIf='cartItems.length === 0' class="alert alert-info">Your Cart is Empty</div>
<ul *ngIf='cartItems.length > 0' class="list-group">
    <li class="list-group-item" *ngFor="let item of cartItems">
        <app-cart-item (removeTheItem)="removeFromCart($event)" [cartItem]='item'></app-cart-item>
    </li>

    <li class="list-group-item active">
        <strong>Total: {{cartTotal | currency:'USD'}} <a (click)='clearCart()' class="delete"> <i class="far fa-trash-alt"></i></a></strong>
    </li>
    <li class="list-group-item active-light">
        <button (click)="open(checkout)" class="checkout-button">CHECKOUT</button>
    </li>
</ul>




<ng-template #checkout let-modal>

    <div class="checkout">
        <div class="card px-4">
            <p class="h8 py-3">Payment Details</p>
            <form #checkoutForm="ngForm">
                <div class="row gx-3">

                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Cardholder name and surname</p> <input class="form-control mb-3" type="text" placeholder="Name Surname *" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Card Number</p> <input name="creditCard" class="form-control mb-3" id="cc-number" type="tel" autocomplete="cc-number" #ccNumber="ccNumber" placeholder="1234 1234 1234 1234 *" ccNumber required />
                            <span class="scheme">{{ccNumber.resolvedScheme$ | async | titlecase}} <i class="fas fa-credit-card"></i></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Expiration date</p> <input name="expirationDate" class="form-control mb-3" id="cc-exp-date" type="tel" autocomplete="cc-exp" placeholder="MM/YY *" ccExp required />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p> <input name="cvc" class="form-control mb-3 pt-2 " id="cc-cvc" type="tel" autocomplete="off" placeholder="***" ccCVC required />
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-3"> <span class="ps-3">Pay {{cartTotal | currency:'USD'}}</span> <span class="fas fa-arrow-right"></span> </button>
                    </div> 

                </div>
            </form>    
        </div>
    </div>

</ng-template>