$orangelight: #ffe59e !important;
$orangebase: #ffd050 !important;
$orangedark: #edb928 !important;
$orangeverydark: #be8f0e !important;

$peach: #ffb050 !important;

$blue: #4850b1 !important;
$bluelight: #6970c7 !important;
$bluedark: #1b2383 !important;

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

$primary: $orangebase !important;
$link: $bluelight !important;
$info: $blue !important;
$warning: $orangedark !important;
$dark: $orangeverydark !important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
