@import "../../styles.scss";
.border-bottom {
  border-bottom: 1px solid $orangebase;
}
img.border {
  border: 5px inset $orangebase;
  border-radius: 40px 40px 0px 0px;
}
.overflow-hidden > .container {
  padding: 0;
}
.btn-dark {
  background-color: $orangedark;
  border: 3px outset $orangeverydark;
  color: #333333;
  font-weight: 600;
  &:hover {
    background-color: $orangeverydark;
    color: #333333;
  }
  &:active {
    color: #333333;
  }
}
.pointer {
  cursor: pointer;
}
.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#edb828, 0.8);
  padding-top: 50px;
  visibility: hidden;

  font: normal small-caps 700 40px Impact;
  letter-spacing: 2.2px;
  word-spacing: 2.2px;
  color: #222222;
  text-decoration: underline solid rgb(68, 68, 68);

  opacity: 0;
  transition: 0.5s;
}
.hero {
  background: linear-gradient(135deg, #be8f0e 0%, #ffd050 100%, #ffe59e 100%);
  border-top: 3px groove $orangedark;
  border-bottom: 3px groove $orangedark;
}

@media (min-width: 590px) {
  .img_wrap:hover .img_description {
    visibility: visible;
    opacity: 1;
  }
  .img_wrap {
    position: relative;
    width: 700px;
  }
}
