<div class="px-4 pt-5 my-5 text-center border-bottom hero">
    <h1 class="display-4 fw-bold">Welcome to SKATESHOP-BAKU </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, perferendis quas natus distinctio quasi delectus error ducimus aperiam suscipit explicabo</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button routerLink="/shop" type="button" class="btn btn-dark btn-lg px-4 me-sm-3">SHOP NOW</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container img_wrap">
            <img src="../../assets/img/home_hero.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            <span class="img_description">
                <p>Dolor Sit Your Ipsum</p>
                <p routerLink="/shop" class="pointer">Shop Now</p>
                <p routerLink="/contactus" class="pointer">Reach Out To Us</p>
            </span>
        </div>
    </div>
</div>